# Python bytecode
*.pyc
__pycache__/

# Virtual environment
venv/

# Environment variables
.env
.env.*
*.pem
*.key

# SQLite or local DBs
*.sqlite3
*.db

# Logs
*.log

# IDEs and system files
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db
